body{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

.canva-container{
    /* height: 96vh;
    width:100vw; */
    background-color: rgb(0, 0, 0);
    color:whitesmoke
}